

.text-custom,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active,
.navbar-custom .navbar-nav li.active a,
.service-box .services-icon,
.price-features p i,
.faq-icon,
.social .social-icon:hover,.services-border,.read-more a,.owl-theme .owl-controls .owl-page span,.faq-icon i,.services-icon i,.footer-title:after,.footer-link a:hover{
    color: #012690 !important;
}


.bg-custom,
.btn-custom,
.timeline-page .timeline-item .date-label-left::after,
.timeline-page .timeline-item .duration-right::after,.back-to-top:hover,
.home-small-title,.home-small-title:before,.home-small-title:after,.owl-theme .owl-controls .owl-page span,.blog-tag-box span,.faq-icon:after,.services-icon:after {
    background-color: #012690;
}

.btn-custom,
.custom-form .form-control:focus,
.social .social-icon:hover,
.registration-input-box:focus {
    border-color: #012690;
}

.service-box .services-icon,
.price-features p i {
    background-color: rgba(10, 204, 218, 0.1);
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    border-color: #3c55a0;
    background-color: #3c55a0;
}
.text-primary{
    color: #012690 !important;

}
.navbar-custom.nav-sticky .navbar-nav li.active a{
    color: #5793ce!important;
}